<!DOCTYPE html>

<html lang='en'>

<head>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Contact | Jin.Kim </title>
</head>

<body>
  <div class='container menu-container'>
    <ul class='navbar-list'>
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/projects'>Projects</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/resume'>Resume</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/contact'>Contact</a>
      </li>
    </ul>
  </div>

  <div class='hamburger-container'>
    <p class='hamburger-button' onclick='hamburger()'>
      &#9776
    </p>
    <ul id='navbar-list-hamburger' style='display: none;'>
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/projects'>Projects</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/resume'>Resume</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/contact'>Contact</a>
      </li>
    </ul>
  </div>

  <div class='spacer'></div>

  <div class='container sub-title'>
    Contact
  </div>
  <div class='container text-center'>
    <div class='bold-subject'>Email me</div>
    <a href='mailto:jinkim.tech@gmail.com'> jinkim.tech@gmail.com </a>

    <div class='bold-subject'>or</div>

    <div class='bold-subject'>Call me</div>
    <a href='tel:831-887-8332'> 831 887 8332 </a>
  </div>

  <script>
    function hamburger() {
      var x = document.getElementById('navbar-list-hamburger')
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }
  </script>  
</body>

<footer>
  <div class='footer'>
    <a href='https://www.linkedin.com/in/jinkim-tech/' target="_blank">
      <img src='/img/footer-linkedin.png' class='link-icon'>
    </a>
    <a href='https://github.com/jinkim-tech' target="_blank">
      <img src='/img/footer-github-logo.png' class='link-icon'>
    </a>
  </div>
</footer>

</html>