<!DOCTYPE html>

<html lang='en'>

<head>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Projects | Jin.Kim </title>
</head>

<body>
  <div class='container menu-container'>
    <ul class='navbar-list'>
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/projects'>Projects</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/resume'>Resume</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/contact'>Contact</a>
      </li>
    </ul>
  </div>

  <div class='container hamburger-container'>
    <p class='hamburger-button' onclick='hamburger()'>
      &#9776
    </p>
    <ul id='navbar-list-hamburger'>
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/projects'>Projects</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/resume'>Resume</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href='/contact'>Contact</a>
      </li>
    </ul>
  </div>

  <div class='container sub-title'>
    Projects
  </div>

  <div class='container grid-two'>
    <a href='https://bit.ly/2X14byy' target="_blank">
      <img src='/img/project-wild-flag.png' class='screenshot'>
    </a>
    <div>
      <div class='bold-subject'>Wild Flag</div>
      <div class='text'>
        An inter-agency deconfliction application that creates a simple, secure, yet profoundly effective centralized
        deconfliction portal for distributing counter-poaching efforts among NGOs.
        <br>
        ** ID: test PW: password
        <br>
        <br>
        - ReactJS, MySQL, NodeJS, Passport.js, CSS and bcrypt
      </div>
      <div class='inline'>
        <a href='https://bit.ly/2X14byy' target="_blank">
          <button>Demo</button>
        </a>
        <a href='https://github.com/mikasd/zoohack' target="_blank">
          <button>Github</button>
        </a>
      </div>
    </div>
  </div>

  <div class='container grid-two'>
    <a href='https://lunch-selector.herokuapp.com/' target="_blank">
      <img src='/img/project-lunch-selector.png' class='screenshot'>
    </a>
    <div>
      <div class='bold-subject'>Lunch Selector</div>
      <div class='text'>
        A simple lunch selector using Pixabay API to choose your lunch so easy.
        <br>
        <br>
        - ReactJS, Express, Heroku, CSS and CircleCI
      </div>
      <div class='inline'>
        <a href='https://lunch-selector.herokuapp.com/' target="_blank">
          <button>Demo</button>
        </a>
        <a href='https://github.com/jinkim-tech/simple-lunch-selector' target="_blank">
          <button>Github</button>
        </a>
      </div>
    </div>
  </div>

  <div class='container sub-title'>
    Open Source
  </div>

  <div class='container grid-two'>
    <a href='http://erd.yah.ac/' target="_blank">
      <img src='/img/project-ERD.png' class='screenshot'>
    </a>
    <div>
      <div class='bold-subject'>ERD Helper</div>
      <div class='text'>
        An educational app to check the cardinality and optionality of ERD.
        <br>
        <br>
        - Added English version and language selection button.
      </div>
      <div class='inline'>
        <a href='http://erd.yah.ac/' target="_blank">
          <button>Demo</button>
        </a>
        <a href='https://github.com/egoing/ERD-Helper' target="_blank">
          <button>Github</button>
        </a>
      </div>
    </div>
  </div>

  <div class='container grid-two'>
    <a href='https://quiz.typeofnan.dev/' target="_blank">
      <img src='/img/project-jsquiz.png' class='screenshot'>
    </a>
    <div>
      <div class='bold-subject'>TypeofNaN JavaScript Quizzes</div>
      <div class='text'>
        Online JavaScript fundamentals and challenging quizzes.
        <br>
        <br>
        - Made 2 new quizzes.
      </div>
      <div class='inline'>
        <a href='https://quiz.typeofnan.dev/' target="_blank">
          <button>Demo</button>
        </a>
        <a href='https://github.com/nas5w/typeofnan-javascript-quizzes' target="_blank">
          <button>Github</button>
        </a>
      </div>
    </div>
  </div>

  <script>
    function hamburger() {
      var x = document.getElementById('navbar-list-hamburger')
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }
  </script>
</body>

<footer>
  <div class='footer'>
    <a href='https://www.linkedin.com/in/jinkim-tech/' target="_blank">
      <img src='/img/footer-linkedin.png' class='link-icon'>
    </a>
    <a href='https://github.com/jinkim-tech' target="_blank">
      <img src='/img/footer-github-logo.png' class='link-icon'>
    </a>
  </div>
</footer>

</html>