
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222831;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #E1E1E1; 
}

.image {
  width: 100%;
  position: relative;
}

.screenshot {
  width: 95%;
  position: relative;
  border:1px solid #E1E1E1;
}

.tag {
  float: left;
  position: absolute;
  margin: 12% 5%;
  padding: 15px;
  z-index: 1000;
  background-color: #222831;
  opacity: 0.9;
  color: #FFFFFF;
  font-weight: bold;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 5rem;
  color: #222831;
  border-bottom: 1px solid #E1E1E1; 
  margin-bottom: 10px;
}

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 15px;
}

.icon {
  width: 85%;
  text-align: center;
  position: relative;
}

.bold-subject {
  font-size: 14px;
  font-weight: 600;
  line-height: 3rem;
  margin-left: 5px;
  color: #222831;
}

.text {
  color: #868e96;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
}

.footer {
  border-top: 1px solid #f1f1f1;
  padding: 2.5rem 0 0 0;
  margin: 2.5rem 0 ;
  text-align: center;
}

.link-icon {
  height: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.inline {
  margin: 5% 0%;
  display: inline-block;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
