.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 0 20px; */
  box-sizing: border-box; }
.column {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}
.hamburger-container{
  display: none;
}
.hamburger-button{
  display: inline;
  font-size: 20px;
  color: #222831;
  margin: 0;
  position: relative;
}
.menu-container {
  margin-top: 3px;
}
.menu-line {
  width: 35px;
  height: 5px;
  background-color: #222831;
  margin: 6px 0;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222831;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #E1E1E1; 
}
.main-image {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/main-main.jpg");
  background-size: auto;
  width: 100%;
  position: relative;
  height: calc(60vh);
}
.screenshot {
  width: 95%;
  position: relative;
  border:1px solid #E1E1E1;
}
.tag {
  float: left;
  position: absolute;
  margin: 12% 5%;
  padding: 15px;
  z-index: 1;
  background-color: #222831;
  opacity: 0.9;
  color: #FFFFFF;
  font-weight: bold;
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 5rem;
  color: #222831;
  border-bottom: 1px solid #E1E1E1; 
  margin-bottom: 10px;
  margin-top: 30px;
}
.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 15px;
}
.icon {
  width: 85%;
  text-align: center;
  position: relative;
}
.bold-subject {
  font-size: 14px;
  font-weight: 600;
  line-height: 3rem;
  margin-left: 5px;
  color: #222831;
}
.text {
  color: #868e96;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
}
.footer {
  border-top: 1px solid #f1f1f1;
  padding: 2.5rem 0 0 0;
  margin: 2.5rem 0 ;
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.link-icon {
  height: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.inline {
  margin: 5% 0%;
  display: inline-block;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.element-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.spacer {
    min-height: 23px;
    display: block;
    width: 100%;
}
@media (max-width: 800px) {
  .menu-container{
    display: none;
  }
  .hamburger-container{
    z-index: 2;
    position: fixed;
    background: white;
    width: 100vh;
    padding: 3% 8%;
    display: block;
    margin-bottom: 20px
  }
  #navbar-list-hamburger{
    display: none;
    margin-bottom: 0px;
  }
  .main-image {
    margin-top: 30px;
    background-position: right;
    height: 200px;
  }
  .toggle {
    display: inline-block;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-item {
    position: relative;
    float: left;
    display: block;
    width: 100%;
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 4rem;
    color: #222831;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #E1E1E1; 
  }

  .bold-subject {
    text-align: center;
  }
  .container {
    width: 85%;
    padding: 0; }
  .grid-three {
    display: block;
  }
  .grid-two {
    display: block;
    padding: 10px 15px;
  }
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 30%;
  }
}

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  margin: 0px;
}
h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; 
  font-size: 2.4rem; 
  line-height: 1.35; 
  letter-spacing: -.08rem; 
}
@media (min-width: 550px) {
  h4 { font-size: 3.0rem; }
}

p {
  margin-top: 0; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover{
  color: #333;
  border-color: #888;
  outline: 0; }
ul {
  list-style: circle inside;
  padding-left: 0;
  margin-top: 0; }
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ol,
form {
  margin-bottom: 2.5rem; }
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
